:root {
    --event-background-color: #CCC;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #333;
}

.timeline {
    /* background-color: aqua; */
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    gap: 20px;
}

.event {
    /* background-color: blue; */
    display: flex;
    align-items: center;
}

.timelink {
    font-size: 64px;
    font-weight: bold;
    color: blue;
    /* padding: 16px; */
}

.event-info {
    background-color: var(--event-background-color);
    border-radius: 8px;
    padding: 4px;
}

.event-summary {
    font-size: 1.8em;
    font-weight: bold;
    list-style: none;
    /* background-color: orange; */
}

.event-description {
    /* background-color: yellow; */
}

.positive {
    color: green;
}

.neutral {
    color: blue;
}

.negative {
    color: red;
}